.button{
  color: $off-white;
  background: $dark-pink;
  border: none;
  //border-bottom: 1px solid lighten($dark-pink, 10%);
  border-radius: 4px;
  font-weight: semibold;
  padding: 5px 10px;
  font-size: 1.2rem;
  margin: 1rem 0 0 0;
}

.button--secondary{
  color: $dark-pink;
  font-weight: 200;
  background: $off-white ;
}

.button-container__login{
  margin: 1.4rem 0;
  display: flex;
  justify-content: space-between;
}

.button__new-task{
  border: none;
  color: $off-white;
  font-size: 1.6rem;
  position: relative;
  top: 80px;
  background: transparent;
}

.x-button {
  background: none;
  border: none;
  img{
    height: 15px;
    position: relative;
    left: 12px;
    top: 4px;
  }
}