.header{
  background:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),  url("/images/header.jpeg");
  padding: 10px;
  height:250px;
  background-size: cover;
  h1{
    font-weight: 300;
    font-size: 4rem;
  }

}

.header__container{
  text-align: center;

}


.header__title{
  display: block;
  text-decoration: none;
  color: $off-white;
}
.header__subtitle{
  color: $off-white;

}

.header__nav{
  display: flex;
  justify-content: space-between;
}

.header__button--logout{
  position: absolute;
  right: 40px;
}




.panel {
  background: darken($off-white, 20%);
  height: 150px;
  margin: 0 0 30px 0;
  display: flex;
  justify-content: space-evenly;
  @media only screen and (max-width: 600px) {
    height: 200px;
  }
}



.panel__item{
  display: inline-block;
  padding: 20px 40px ;
}

.panel__img{
  height: 60px;
}

.panel__text{
  color: white;
  font-size: 1.3rem;

}

.panel-container{
  text-align: center;

}