.task-container{
  background: $grey;
  border-radius: 2px;
  display: inline-block;
  margin: 10px;
  width: 200px;
  word-break: break-all;
  padding: 8px;
  height: 150px;
  overflow:scroll;
  border-bottom: 0.6rem solid darken($grey, 10%);
}

.task-completed{
  background: darken($dark-grey, 10%);
  border-bottom: 0.6rem solid darken($dark-grey, 15%);


}
.tasks-list{
  display: flex;
}

.task-container__description{
  font-size: 1.4rem;
  color: lighten($light-pink, 5%);
  text-align: center;
  min-height: 60px;
}

.task-container__title{
  text-align: center;
  font-size: 1.5rem;
  font-weight: 300;
  color: darken($light-pink, 10%);
}
.task-container__createdAt{

}

.button-container--completed{
  text-align: center;
  button{
    margin-left: 5px;
  }
}

.button-container{
  position: relative;
  text-align: center;
  top:20px
}
.empty-task-list{
  text-align: center;
  color: $off-white;
  font-weight: 200;
  font-size: 3rem;
}

.task-container__remove-task{
  position: relative;
  left: 35px;
}
.remove-task--done{
  display: none;
}