.task-container{
  background: $grey;
  border-radius: 2px;
  display: inline-block;
  margin: 10px;
  width: 200px;
  height: 150px;
  //padding: 30px 15px;
  border-bottom: 0.6rem solid darken($grey, 10%);
}

.tasks-list{
  display: flex;
}

.task-container__description{
  text-align: center;
  font-size: 2rem;
}

.task-container__completed{

}